<div class="ry-page">
  <section class="ry-panel">
    <div class="ry-toolbar">
      <button nz-button nzType="default" type="button" routerLink="/system/dict">
        <span nz-icon nzType="arrow-left"></span> 返回字典类型
      </button>
      <nz-tag nzColor="processing">字典类型：{{ dictType }}</nz-tag>
      <div class="ry-toolbar-spacer"></div>
    </div>

    @if (showSearch) {
      <form nz-form nzLayout="inline" class="ry-search-form">
        <nz-form-item>
          <nz-form-label>字典标签</nz-form-label>
          <nz-form-control>
            <input nz-input name="qLabel" placeholder="字典标签" [(ngModel)]="queryParams.dictLabel" (keyup.enter)="load()" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>数据状态</nz-form-label>
          <nz-form-control>
            <nz-select name="qStatus" [(ngModel)]="queryParams.status" nzPlaceHolder="状态" nzAllowClear class="w-160">
              @for (d of statusDict; track d.value) {
                <nz-option [nzValue]="d.value" [nzLabel]="d.label" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <button nz-button nzType="primary" type="button" (click)="load()"><span nz-icon nzType="search"></span> 搜索</button>
          <button nz-button type="button" class="ml-sm" (click)="resetQuery()"><span nz-icon nzType="reload"></span> 重置</button>
        </nz-form-item>
      </form>
    }

    <div class="ry-toolbar">
      <button nz-button nzType="primary" type="button" (click)="openAdd()"><span nz-icon nzType="plus"></span> 新增</button>
      <button nz-button nzType="default" type="button" [disabled]="singleDisabled" (click)="openEdit()"><span nz-icon nzType="edit"></span> 修改</button>
      <button nz-button nzDanger nzType="default" type="button" [disabled]="multipleDisabled" (click)="batchDelete()">
        <span nz-icon nzType="delete"></span> 删除
      </button>
      <button nz-button nzType="default" type="button" (click)="export()"><span nz-icon nzType="download"></span> 导出</button>
      <div class="ry-toolbar-spacer"></div>
      <button nz-button nzType="text" nz-tooltip nzTooltipTitle="显示/隐藏搜索" type="button" (click)="showSearch = !showSearch">
        <span nz-icon nzType="search"></span>
      </button>
      <button nz-button nzType="text" nz-tooltip nzTooltipTitle="刷新" type="button" (click)="load()"><span nz-icon nzType="reload"></span></button>
    </div>

    <nz-table
      #dataTable
      nzSize="middle"
      [nzData]="list"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="queryParams.pageSize!"
      [nzPageIndex]="queryParams.pageNum!"
      [nzFrontPagination]="false"
      nzShowSizeChanger
      [nzPageSizeOptions]="[10, 20, 50, 100]"
      (nzQueryParams)="onTableQuery($event)"
    >
      <thead>
        <tr>
          <th [nzWidth]="'48px'">
            <label nz-checkbox [nzChecked]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></label>
          </th>
          <th>字典编码</th>
          <th>字典标签</th>
          <th>字典键值</th>
          <th [nzWidth]="'88px'">排序</th>
          <th>样式</th>
          <th [nzWidth]="'88px'">默认</th>
          <th [nzWidth]="'88px'">状态</th>
          <th>备注</th>
          <th>创建时间</th>
          <th [nzWidth]="'180px'">操作</th>
        </tr>
      </thead>
      <tbody>
        @for (row of dataTable.data; track row.dictCode) {
          <tr>
            <td>
              <label nz-checkbox [nzChecked]="checkedIds.has(row.dictCode!)" (nzCheckedChange)="onCheckOne(row.dictCode!, $event)"></label>
            </td>
            <td>{{ row.dictCode }}</td>
            <td>{{ row.dictLabel }}</td>
            <td>{{ row.dictValue }}</td>
            <td>{{ row.dictSort }}</td>
            <td>{{ row.listClass }}</td>
            <td>{{ row.isDefault === 'Y' ? '是' : '否' }}</td>
            <td>
              <nz-tag [nzColor]="row.status === '0' ? 'success' : 'default'">{{ row.status === '0' ? '正常' : '停用' }}</nz-tag>
            </td>
            <td nz-tooltip [nzTooltipTitle]="row.remark"><span class="ry-cell-ellipsis">{{ row.remark }}</span></td>
            <td>{{ row.createTime }}</td>
            <td>
              <a (click)="openEdit(row)">修改</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="danger-link" (click)="removeOne(row)">删除</a>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </section>
</div>

<nz-modal
  [(nzVisible)]="modalOpen"
  [nzTitle]="modalTitle"
  [nzOkLoading]="modalLoading"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="submitModal()"
  nzWidth="560px"
>
  <ng-container *nzModalContent>
    <form nz-form nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>字典类型</nz-form-label>
        <nz-form-control>
          <input nz-input [value]="dictType" disabled />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>数据标签</nz-form-label>
        <nz-form-control>
          <input nz-input name="dictLabel" [(ngModel)]="form.dictLabel" maxlength="100" placeholder="数据标签" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>数据键值</nz-form-label>
        <nz-form-control>
          <input nz-input name="dictValue" [(ngModel)]="form.dictValue" maxlength="100" placeholder="数据键值" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzRequired>显示排序</nz-form-label>
        <nz-form-control>
          <input nz-input name="dictSort" type="number" [(ngModel)]="form.dictSort" placeholder="排序" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>样式属性</nz-form-label>
        <nz-form-control>
          <input nz-input name="cssClass" [(ngModel)]="form.cssClass" maxlength="100" placeholder="cssClass" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>表格样式</nz-form-label>
        <nz-form-control>
          <input nz-input name="listClass" [(ngModel)]="form.listClass" maxlength="100" placeholder="listClass" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>是否默认</nz-form-label>
        <nz-form-control>
          <nz-radio-group name="isDefault" [(ngModel)]="form.isDefault">
            <label nz-radio nzValue="Y">是</label>
            <label nz-radio nzValue="N">否</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>状态</nz-form-label>
        <nz-form-control>
          <nz-radio-group name="formStatus" [(ngModel)]="form.status">
            @for (d of statusDict; track d.value) {
              <label nz-radio [nzValue]="d.value">{{ d.label }}</label>
            }
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>备注</nz-form-label>
        <nz-form-control>
          <textarea nz-input name="remark" [(ngModel)]="form.remark" rows="2" placeholder="备注"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
