<div class="ry-page">
  <section class="ry-panel">
    @if (showSearch) {
      <form nz-form nzLayout="inline" class="ry-search-form">
        <nz-form-item>
          <nz-form-label>任务名称</nz-form-label>
          <nz-form-control>
            <input nz-input name="qJobName" placeholder="任务名称" [(ngModel)]="queryParams.jobName" (keyup.enter)="load()" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>任务组名</nz-form-label>
          <nz-form-control>
            <nz-select name="qJobGroup" [(ngModel)]="queryParams.jobGroup" nzPlaceHolder="任务组" nzAllowClear class="w-160">
              @for (g of jobGroups; track g) {
                <nz-option [nzValue]="g" [nzLabel]="g" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>执行状态</nz-form-label>
          <nz-form-control>
            <nz-select name="qStatus" [(ngModel)]="queryParams.status" nzPlaceHolder="状态" nzAllowClear class="w-160">
              @for (d of statusDict; track d.value) {
                <nz-option [nzValue]="d.value" [nzLabel]="d.label" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>执行时间</nz-form-label>
          <nz-form-control>
            <nz-range-picker name="qDate" [(ngModel)]="dateRange" nzFormat="yyyy-MM-dd"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <button nz-button nzType="primary" type="button" (click)="load()"><span nz-icon nzType="search"></span> 搜索</button>
          <button nz-button type="button" class="ml-sm" (click)="resetQuery()"><span nz-icon nzType="reload"></span> 重置</button>
        </nz-form-item>
      </form>
    }

    <div class="ry-toolbar">
      <button nz-button nzDanger nzType="default" type="button" [disabled]="multipleDisabled" (click)="batchDelete()">
        <span nz-icon nzType="delete"></span> 删除
      </button>
      <button nz-button nzDanger nzType="default" type="button" (click)="cleanAll()"><span nz-icon nzType="delete"></span> 清空</button>
      <button nz-button nzType="default" type="button" (click)="export()"><span nz-icon nzType="download"></span> 导出</button>
      <div class="ry-toolbar-spacer"></div>
      <button nz-button nzType="text" nz-tooltip nzTooltipTitle="显示/隐藏搜索" type="button" (click)="showSearch = !showSearch">
        <span nz-icon nzType="search"></span>
      </button>
      <button nz-button nzType="text" nz-tooltip nzTooltipTitle="刷新" type="button" (click)="load()"><span nz-icon nzType="reload"></span></button>
    </div>

    <nz-table
      #dataTable
      nzSize="middle"
      [nzData]="list"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="queryParams.pageSize!"
      [nzPageIndex]="queryParams.pageNum!"
      [nzFrontPagination]="false"
      nzShowSizeChanger
      [nzPageSizeOptions]="[10, 20, 50, 100]"
      (nzQueryParams)="onTableQuery($event)"
    >
      <thead>
        <tr>
          <th [nzWidth]="'48px'">
            <label nz-checkbox [nzChecked]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></label>
          </th>
          <th>日志编号</th>
          <th>任务名称</th>
          <th>任务组</th>
          <th>调用目标</th>
          <th>日志信息</th>
          <th [nzWidth]="'88px'">状态</th>
          <th>执行时间</th>
          <th [nzWidth]="'140px'">操作</th>
        </tr>
      </thead>
      <tbody>
        @for (row of dataTable.data; track row.jobLogId) {
          <tr>
            <td>
              <label nz-checkbox [nzChecked]="checkedIds.has(row.jobLogId!)" (nzCheckedChange)="onCheckOne(row.jobLogId!, $event)"></label>
            </td>
            <td>{{ row.jobLogId }}</td>
            <td>{{ row.jobName }}</td>
            <td>{{ row.jobGroup }}</td>
            <td nz-tooltip [nzTooltipTitle]="row.invokeTarget"><span class="ry-cell-ellipsis">{{ row.invokeTarget }}</span></td>
            <td nz-tooltip [nzTooltipTitle]="row.jobMessage"><span class="ry-cell-ellipsis">{{ row.jobMessage }}</span></td>
            <td>
              <nz-tag [nzColor]="row.status === '0' ? 'success' : 'error'">{{ row.status === '0' ? '成功' : '失败' }}</nz-tag>
            </td>
            <td>{{ row.createTime }}</td>
            <td>
              <a (click)="openDetail(row)">详细</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="danger-link" (click)="removeOne(row)">删除</a>
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </section>
</div>

<nz-modal [(nzVisible)]="detailOpen" nzTitle="调度日志详细" (nzOnCancel)="detailOpen = false" (nzOnOk)="detailOpen = false" nzWidth="720px">
  <ng-container *nzModalContent>
    @if (detailRow) {
      <nz-descriptions nzBordered [nzColumn]="1" nzSize="small">
        <nz-descriptions-item nzTitle="任务名称">{{ detailRow.jobName }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="任务组">{{ detailRow.jobGroup }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="调用目标">{{ detailRow.invokeTarget }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="日志信息">{{ detailRow.jobMessage }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="异常信息">
          <pre class="ry-pre">{{ detailRow.exceptionInfo }}</pre>
        </nz-descriptions-item>
      </nz-descriptions>
    }
  </ng-container>
</nz-modal>
